In [21]:
from scipy.stats import ks_2samp

# Example arrays (replace these with your actual data)
array1 = [2, 2, 3, 4, 5, 8, 9, 10, 11, 12]
array2 = [100, -10000, 0, 89, 1]

# Perform the Kolmogorov-Smirnov test
statistic, p_value = ks_2samp(array1, array2)

# Print the results
print(f"KS Statistic: {statistic}")
print(f"P-value: {p_value}")

# Interpret the results
if p_value < 0.05:
    print("The two samples are likely from different distributions.")
else:
    print("There is not enough evidence to suggest that the two samples are from different distributions.")

KS Statistic: 0.6
P-value: 0.16583416583416583
There is not enough evidence to suggest that the two samples are from different distributions.

In [23]:
import pandas as pd
from scipy.stats import kruskal
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Example data (replace with your actual data)
group1 = [23, 21, 18, 25, 27]
group2 = [29, 32, 27, 34, 28]
group3 = [17, 19, 22, 16, 20]

# Combine data into a DataFrame
df = pd.DataFrame({
    'Group': ['Group1'] * len(group1) + ['Group2'] * len(group2) + ['Group3'] * len(group3),
    'Value': group1 + group2 + group3
})

# Perform Kruskal-Wallis test
kruskal_stat, kruskal_p_value = kruskal(group1, group2, group3)
print(f"Kruskal-Wallis Statistic: {kruskal_stat}")
print(f"P-value: {kruskal_p_value}")

# Perform Tukey's HSD test as a post-hoc test
tukey_result = pairwise_tukeyhsd(df['Value'], df['Group'])
print("\nTukey's HSD Test Results:")
print(tukey_result)

Kruskal-Wallis Statistic: 10.553846153846157
P-value: 0.00510812394144746

Tukey's HSD Test Results:
 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
Group1 Group2      7.2 0.0062   2.1946 12.2054   True
Group1 Group3     -4.0 0.1248  -9.0054  1.0054  False
Group2 Group3    -11.2 0.0002 -16.2054 -6.1946   True
-----------------------------------------------------

In [24]:
df

     Group  Value
0   Group1     23
1   Group1     21
2   Group1     18
3   Group1     25
4   Group1     27
5   Group2     29
6   Group2     32
7   Group2     27
8   Group2     34
9   Group2     28
10  Group3     17
11  Group3     19
12  Group3     22
13  Group3     16
14  Group3     20